<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/png" href="https://gogglesinc.github.io/cdn/images/goggles-png.png" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/aboutpagestyle.css" />
		<!-- <script defer src='script.js'></script> -->
		<title>About | GogglesInc</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js"></script>
		<script>
			window.addEventListener("load", () => {
				quicklink.listen();
			});
		</script>
	</head>

	<body>
		<div class="upperbar barafter">
			<!-- Contain img and navs -->
			<p><img src="https://gogglesinc.github.io/cdn/images/goggles-png.png" alt="" title="Goggles" id="gimg" />GogglesInc</p>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/news">News</a>
				<a href="/github">Github</a>
			</nav>
			<ion-icon name="menu-outline" id="navbtn"></ion-icon>
		</div>
		<br />
		<br />
		<br />
		About website
	</body>
</html>
