<!DOCTYPE html>
<html lang="en">
	<head>
		<!--* Metadatas -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Goggles" />
		<meta name="description" content="GogglesInc - The most hybrid and tech stacked company you can ever imagine" />
		<meta property="og:title" content="Home - GogglesInc" />
		<meta property="og:description" content="GogglesInc - The most hybrid and tech stacked company you can ever imagine" />
		<meta property="og:image" content="https://gogglesinc.github.io/cdn/images/goggles-small.png" />
		<meta property="og:url" content="/index.html" />
		<meta property="og:site_name" content="GogglesInc" />
		<meta name="twitter:card" content="" />
		<meta name="twitter:image:alt" content="" />
		<!--* Links -->
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/minified/mainpagestyle.min.css" />
		<link rel="icon" type="image/png" href="https://gogglesinc.github.io/cdn/images/goggles-small.png" />
		<!--* Title -->
		<title>Home | GogglesInc</title>
	</head>

	<body>
		<!--complete Disclaimer Heading -->
		<header>
			<p>[Disclaimer]: All contents in this website are <span>NOT TRUE</span>. Please continue without belief. Contact <a href="https://github.com/someguy403">@Goggles</a> for more informations</p>
			<label>
				Do not show this again
				<input type="checkbox" name="disclaimercheckbox" id="disclaimercheckbox" />
			</label>
			<button id="disclaimerbtn">Continue to site</button>
		</header>
		<!--complete Navigation Bar -->
		<aside class="upperbar">
			<p><img src="https://gogglesinc.github.io/cdn/images/goggles-small.png" alt="" title="GogglesInc" id="gimg" />GogglesInc</p>
			<nav class="desktopnavbar">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/news">News</a>
				<a href="/github">Github</a>
			</nav>
			<button aria-label="Navigation Button" class="navbtn open">
				<svg fill="var(--button-color)" viewBox="0 0 100 100" width="25">
					<rect class="line top" width="80" height="10" x="10" y="25" rx="5"></rect>
					<rect class="line middle" width="80" height="10" x="10" y="45" rx="5"></rect>
					<rect class="line bottom" width="80" height="10" x="10" y="65" rx="5"></rect>
				</svg>
			</button>
			<button aria-label="Navigation Button" class="navbtn close">
				<svg width="25" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="var(--button-color)">
					<g>
						<path
							id="backward"
							d="M78.2843 71.2132L28.7868 21.7157C26.8342 19.7631 23.6683 19.7631 21.7157 21.7157C19.7631 23.6684 19.7631 26.8342 21.7157 28.7868L71.2132 78.2843C73.1658 80.2369 76.3316 80.2369 78.2843 78.2843C80.2369 76.3317 80.2369 73.1658 78.2843 71.2132Z"
						/>
						<path
							id="forward"
							d="M71.2132 21.7157L21.7157 71.2132C19.7631 73.1658 19.7631 76.3317 21.7157 78.2843C23.6684 80.2369 26.8342 80.2369 28.7868 78.2843L78.2843 28.7868C80.2369 26.8342 80.2369 23.6684 78.2843 21.7157C76.3317 19.7631 73.1658 19.7631 71.2132 21.7157Z"
						/>
					</g>
				</svg>
			</button>
			<nav class="mobilenavbar">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/news">News</a>
				<a href="/github">Github</a>
				<p>Made by @Goggles</p>
			</nav>
		</aside>
		<!--complete Main Content -->
		<main>
			<!--complete Welcome -->
			<section id="sect1">
				<div class="headingtxt">
					<h1>"The most hybrid and tech stacked company you can ever imagine"</h1>
					<button id="getstart">Get started</button>
				</div>
				<img src="https://gogglesinc.github.io/cdn/images/rwd/headerimg.webp" alt="" />
			</section>
			<!--complete Why Choose GogglesInc  -->
			<section id="sect2">
				<h2>Why choose GogglesInc ?</h2>
				<p>We provide you with several sevices and access for free !</p>
				<div class="services-container-grid">
					<div class="grid-child cloud">
						<h3>Cloud Provider <ion-icon name="cloud-outline"></ion-icon></h3>
						<hr />
						<p>With our trusted partners, we created a hybrid tech stack (Google Cloud Platform, Microsoft Azure, Amazon Web Service,...) to provide you with the best "Cloud Computing" experience.</p>
					</div>
					<div class="grid-child hosting">
						<h3>Web Hosting <ion-icon name="layers-outline"></ion-icon></h3>
						<hr />
						<p>As a services provider, we can help you create any type of website (on any framework) with just a click of a mouse, and your website will be live and hosted on our powerful server.</p>
					</div>
					<div class="grid-child database">
						<h3>Database <ion-icon name="server-outline"></ion-icon></h3>
						<hr />
						<p>
							Every website or application needs a database to store its information, therefore we have thought of this and provide database services managed with MongoDB, MySQL, and PostgreSQL,...
						</p>
					</div>
					<div class="grid-child network">
						<h3>Networking <ion-icon name="git-network-outline"></ion-icon></h3>
						<hr />
						<p>We also provide you with a custom, multifunctional, hybrid, powerful network management system to handle your domains, Domain Name System (DNS), and email services,...</p>
					</div>
					<div class="grid-child dataana">
						<h3>Data Analytics <ion-icon name="analytics-outline"></ion-icon></h3>
						<hr />
						<p>Using our services we provide analytics reports and insightful feedback and statistics on your website and give suggestions to grow your website better and beyond!</p>
					</div>
					<div class="grid-child collaborator">
						<h3>Extensive Collaborator <ion-icon name="people-outline"></ion-icon></h3>
						<hr />
						<p>
							To maintain our ecosystem and provide you with all of those services, we partnered with big tech companies, and cloud providers,... to preserve you - our worthy customers for the long
							haul.
						</p>
					</div>
				</div>
			</section>
			<!--complete Partners -->
			<section id="sect3">
				<h2>Trusted by companies</h2>
				<p>Meet our partners</p>
				<div class="partners-grid">
					<div class="partner-child google">
						<img src="https://gogglesinc.github.io/cdn/images/rwd/google.svg" alt="Google" />
						<p>
							Google LLC is an technology company focusing on online advertising, cloud computing, computer software, quantum computing.
							<a href="https://en.wikipedia.org/wiki/Google">Learn more</a>
						</p>
					</div>
					<div class="partner-child microsoft">
						<img src="https://gogglesinc.github.io/cdn/images/rwd/microsoft.svg" alt="Microsoft" />
						<p>
							Microsoft Corporation is an technology corporation producing computer software, consumer electronics, personal computers.
							<a href="https://en.wikipedia.org/wiki/Microsoft">Learn more</a>
						</p>
					</div>
					<div class="partner-child amazon">
						<img src="https://gogglesinc.github.io/cdn/images/rwd/amazon.svg" alt="Amazon" />
						<p>
							Amazon.com, Inc. is an technology company focusing on cloud computing, digital streaming, and artificial intelligence.
							<a href="https://en.wikipedia.org/wiki/Amazon_(company)">Learn more</a>
						</p>
					</div>
				</div>
				<p>You may know their products</p>
				<div class="partnerproducts">
					<a href="https://aws.amazon.com/"> <img src="https://gogglesinc.github.io/cdn/images/rwd/aws-icon.svg" alt="Amazon Web Service" /> </a>
					<a href="https://aws.amazon.com/amplify/"> <img src="https://gogglesinc.github.io/cdn/images/rwd/awsamplify-icon.svg" alt="Amazon Web Service Amplify" /> </a>
					<a href="https://azure.microsoft.com/en-us/"> <img src="https://gogglesinc.github.io/cdn/images/rwd/azure-icon.svg" alt="Microsoft Azure" /> </a>
					<a href="https://learn.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-overview">
						<img src="https://gogglesinc.github.io/cdn/images/rwd/azworkbook-icon.svg" alt="Microsoft Azure Workbook" />
					</a>
					<a href="https://firebase.google.com/"> <img src="https://gogglesinc.github.io/cdn/images/rwd/firebase-icon.svg" alt="Google Firebase" /> </a>
					<a href="https://analytics.google.com/analytics/web/"> <img src="https://gogglesinc.github.io/cdn/images/rwd/ganalytics-icon.svg" alt="Google Analytics" /> </a>
					<a href="https://cloud.google.com/"> <img src="https://gogglesinc.github.io/cdn/images/rwd/gcloud-icon.svg" alt="Google Cloud" /> </a>
				</div>
			</section>
			<!--todo Section 4: Unamed -->
			<section id="sect4"></section>
		</main>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<footer>
			<p>Created by <img src="/static/images/goggles-autograph-animated.svg" alt="Signature" /></p>
		</footer>
		<!--* Scripts  -->
		<script defer src="/static/javascripts/minified/mainpagescript.min.js"></script>
		<script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script defer nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</body>
</html>
