<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/mainpagestyle.css"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon1n.ico" />
    <script defer src="/javascripts/mainpagescript.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <title>GogglesInc - Home</title>
  </head>

  <body>
    <div class="upperbar">
      <!-- Contain img and navs -->
      <p>
        <img
          src="/images/goggles.jpg"
          alt=""
          title="Goggles"
          id="gimg"
        />GogglesInc
      </p>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/news">News</a>
        <a href="/github">Github</a>
      </nav>
      <button class="navbtn open">
        <svg fill="var(--button-color)" viewBox="0 0 100 100" width="25">
          <rect
            class="line top"
            width="80"
            height="10"
            x="10"
            y="25"
            rx="5"
          ></rect>
          <rect
            class="line middle"
            width="80"
            height="10"
            x="10"
            y="45"
            rx="5"
          ></rect>
          <rect
            class="line bottom"
            width="80"
            height="10"
            x="10"
            y="65"
            rx="5"
          ></rect>
        </svg>
      </button>
      <button class="navbtn close">
        <svg
          width="25"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
          fill="var(--button-color)"
        >
          <g>
            <path
              id="backward"
              d="M78.2843 71.2132L28.7868 21.7157C26.8342 19.7631 23.6683 19.7631 21.7157 21.7157C19.7631 23.6684 19.7631 26.8342 21.7157 28.7868L71.2132 78.2843C73.1658 80.2369 76.3316 80.2369 78.2843 78.2843C80.2369 76.3317 80.2369 73.1658 78.2843 71.2132Z"
            />
            <path
              id="forward"
              d="M71.2132 21.7157L21.7157 71.2132C19.7631 73.1658 19.7631 76.3317 21.7157 78.2843C23.6684 80.2369 26.8342 80.2369 28.7868 78.2843L78.2843 28.7868C80.2369 26.8342 80.2369 23.6684 78.2843 21.7157C76.3317 19.7631 73.1658 19.7631 71.2132 21.7157Z"
            />
          </g>
        </svg>
      </button>
    </div>
    <main>
      <section id="sect1">
        <div class="headingtxt">
          <h1>" The most reliable tech company you can ever imagine "</h1>
          <button id="getstart">Get started</button>
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="scrolldown"
          >
            <g clip-path="url(#clip0_1_2)">
              <path
                d="M26.3033 64.7678C25.327 63.7914 23.7441 63.7914 22.7678 64.7678C21.7915 65.7441 21.7915 67.327 22.7678 68.3033L47.5165 93.052C48.4928 94.0283 50.0757 94.0283 51.052 93.052C52.0283 92.0757 52.0283 90.4928 51.052 89.5165L26.3033 64.7678Z"
                fill="white"
              />
              <path
                d="M77.052 68.3033C78.0283 67.327 78.0283 65.7441 77.052 64.7678C76.0757 63.7915 74.4928 63.7915 73.5165 64.7678L48.7678 89.5165C47.7915 90.4928 47.7915 92.0757 48.7678 93.052C49.7441 94.0283 51.327 94.0283 52.3033 93.052L77.052 68.3033Z"
                fill="white"
              />
              <path
                d="M52.5 9C52.5 7.61929 51.3807 6.5 50 6.5C48.6193 6.5 47.5 7.61929 47.5 9V91C47.5 92.3807 48.6193 93.5 50 93.5C51.3807 93.5 52.5 92.3807 52.5 91V9Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_1_2">
                <rect width="100" height="100" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <img src="/images/headerimg.jpg" alt="" />
      </section>
      <section id="sect2">
        <h2>Why choose GogglesInc ?</h2>
        <p>We provide you with several sevices and access for free !</p>
        <div class="services-container-grid">
          <div class="grid-child cloud">
            <h3>Cloud Provider <ion-icon name="cloud-outline"></ion-icon></h3>
            <hr />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            facilisis lorem molestie magna fringilla, eu accumsan est finibus.
            Donec ac est porttitor erat pharetra dapibus. Suspendisse malesuada,
            mauris eu facilisis volutpat, turpis leo ultrices sem, ac porttitor
            arcu odio non odio.
          </div>
          <div class="grid-child hosting">
            <h3>Hosting Server <ion-icon name="layers-outline"></ion-icon></h3>
            <hr />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            facilisis lorem molestie magna fringilla, eu accumsan est finibus.
            Donec ac est porttitor erat pharetra dapibus. Suspendisse malesuada,
            mauris eu facilisis volutpat, turpis leo ultrices sem, ac porttitor
            arcu odio non odio.
          </div>
          <div class="grid-child database">
            <h3>Database <ion-icon name="server-outline"></ion-icon></h3>
            <hr />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            facilisis lorem molestie magna fringilla, eu accumsan est finibus.
            Donec ac est porttitor erat pharetra dapibus. Suspendisse malesuada,
            mauris eu facilisis volutpat, turpis leo ultrices sem, ac porttitor
            arcu odio non odio.
          </div>
          <div class="grid-child network">
            <h3>Networking <ion-icon name="git-network-outline"></ion-icon></h3>
            <hr />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            facilisis lorem molestie magna fringilla, eu accumsan est finibus.
            Donec ac est porttitor erat pharetra dapibus. Suspendisse malesuada,
            mauris eu facilisis volutpat, turpis leo ultrices sem, ac porttitor
            arcu odio non odio.
          </div>
          <div class="grid-child dataana">
            <h3>
              Data Analytics <ion-icon name="analytics-outline"></ion-icon>
            </h3>
            <hr />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            facilisis lorem molestie magna fringilla, eu accumsan est finibus.
            Donec ac est porttitor erat pharetra dapibus. Suspendisse malesuada,
            mauris eu facilisis volutpat, turpis leo ultrices sem, ac porttitor
            arcu odio non odio.
          </div>
          <div class="grid-child collaborator">
            <h3>
              Extensive Collaborator <ion-icon name="people-outline"></ion-icon>
            </h3>
            <hr />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            facilisis lorem molestie magna fringilla, eu accumsan est finibus.
            Donec ac est porttitor erat pharetra dapibus. Suspendisse malesuada,
            mauris eu facilisis volutpat, turpis leo ultrices sem, ac porttitor
            arcu odio non odio.
          </div>
        </div>
      </section>
      <section id="sect3">Our trusted Partners gg cloud</section>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </main>
  </body>
</html>
