<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/images/favicon1n.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/newspagestyle.css"
    />
    <!-- <script defer src='script.js'></script> -->
    <title>GogglesInc - News</title>
  </head>

  <body>
    <div class="upperbar barafter">
      <!-- Contain img and navs -->
      <p>
        <img
          src="/images/goggles.jpg"
          alt=""
          title="Goggles"
          id="gimg"
        />GogglesInc
      </p>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/news">News</a>
        <a href="/github">Github</a>
      </nav>
      <ion-icon name="menu-outline" id="navbtn"></ion-icon>
    </div>
    <br />
    <br />
    <br />
    News website
  </body>
</html>
