@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: linear-gradient(
    317deg,
    rgba(6, 88, 130, 0.006),
    rgba(9, 208, 162, 0.745),
    rgba(192, 208, 123, 1.438)
  );
  color: #fff;
}

.outer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgba(28, 28, 28, 0.5);
  border-radius: 10px;
}

pre {
  font-size: 0.6rem;
}
