@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	background-color: #fff;
	color: #000;
	min-width: 100vw;
}

a {
	text-decoration: none;
	color: #fff;
}

/** START Disclaimer Heading */
header {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10000;
	color: #fff;
	transition: transform 0.75s 0.25s, background-color 0.5s;
	transform: translateY(-100%);
}

header.show {
	transition: transform 0.75s, background-color 0.5s 0.5s;
	transform: translateY(0);
	background-color: rgba(0, 0, 0, 0.95);
}

header p {
	max-width: 35rem;
	border: 2px white dotted;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 500;
	border-radius: 10px;
}

header p > a {
	color: lightblue;
	text-decoration: underline;
}

header p > span {
	text-decoration: underline;
	color: red;
	font-weight: bold;
}

header span > input {
	margin-right: 5px;
}

header > span:nth-child(2) {
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

header button {
	outline: none;
	border: none;
	padding: 10px;
	margin-top: 10px;
	border-radius: 8px;
	background-color: #00ff00;
	color: white;
}

header button:active {
	opacity: 0.7;
}
/** END Disclaimer Heading */

/* -------------------------------------------------------------------------------------------------------- */

/** START Navbar styles */
.upperbar {
	width: 100%;
	padding: 25px 50px 5px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 9999;
	transition: 1s all;
}

#gimg {
	aspect-ratio: 1 / 1;
	max-height: 50px;
	border-radius: 50%;
}

.upperbar nav {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.upperbar .desktopnavbar > a {
	color: #fff;
	padding: 15px;
}

.upperbar p {
	font-family: "JetBrains Mono", monospace;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: rgba(28, 28, 28, 0.7);
	padding: 10px;
	border-radius: 8px;
	color: #fff;
	transition: 1s all;
}

.upperbar .desktopnavbar {
	gap: 20px;
}

.mobilenavbar {
	position: fixed;
	z-index: 10;
	inset: 0 0 0 65%;
	display: flex;
	flex-direction: column;
	padding: min(20vh, 160px) 32px;
	gap: min(10px, 15px);
	background-color: rgba(28, 28, 28, 0.9);
	transform: translateX(100%);
	transition: 1s all;
}

.mobilenavbar p {
	position: absolute;
	bottom: 5px;
	font-size: 12px;
}

.mobilenavbar a {
	overflow: hidden;
}

.mobilenavbar a:nth-child(1) {
	margin-top: 25px;
}

.mobilenavbar.show {
	transform: translateX(0%);
}

.navbtn {
	--button-color: #fff;
	outline: none;
	border: none;
	display: none;
	padding: 5px;
	border-radius: 8px;
	background-color: rgba(28, 28, 28, 0.7);
	aspect-ratio: 1 / 1;
	position: relative;
	z-index: 11;
	overflow: hidden;
}

.open.show {
	display: none;
}

.close.show {
	display: block;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.upperbar nav,
	.navbtn,
	.mobilenavbar {
		-webkit-backdrop-filter: blur(510px);
		backdrop-filter: blur(5px);
		background-color: rgba(255, 255, 255, 0.5);
	}

	.upperbar .desktopnavbar > a,
	.mobilenavbar a {
		color: #000;
	}

	.upperbar p {
		background-color: rgba(255, 255, 255, 0.7);
		color: #000;
	}

	.navbtn {
		--button-color: #000;
	}
}

.barafter {
	padding: 10px;
	background-color: #1c1c1c;
}

.barafter nav {
	background-color: transparent;
}

.barafter .desktopnavbar > a {
	padding: 0px;
	color: #fff;
}

.barafter p {
	background-color: transparent;
	padding: 0px;
	color: #fff;
}

.barafter p #gimg {
	max-height: 20px;
}

.barafter .navbtn {
	padding: 0px;
	background-color: transparent;
	--button-color: #fff;
}

.barafter.mobilenavbar {
	inset: 0 0 0 65%;
	background-color: #1c1c1c;
	gap: 15px;
}

.barafter.mobilenavbar a {
	color: #fff;
	margin-left: 20px;
}

.barafter.mobilenavbar a:nth-child(1) {
	margin-top: 90px;
}
/** END Navbar styles */

/* -------------------------------------------------------------------------------------------------------- */

/** START Section 1 styles */
#sect1 img {
	width: 100vw;
	height: 685px;
}

.headingtxt {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 685px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headingtxt h1 {
	color: #fff;
	max-width: 547px;
	margin-left: 20px;
}

.headingtxt button {
	color: #000;
	background-color: #fff;
	outline: none;
	font-size: 1rem;
	border: none;
	padding: 10px 35px 10px 35px;
	border-radius: 8px;
	margin-right: 20px;
}

.headingtxt button:active {
	opacity: 0.7;
}
/** END Section 1 styles*/

/* -------------------------------------------------------------------------------------------------------- */

/** START Section 2 styles */
#sect2 {
	width: 100%;
	height: auto;
	text-align: center;
}

#sect2 h2 {
	padding: 50px 0px 0px 0px;
	font-size: 2.5rem;
	color: #23242a;
}

#sect2 p {
	padding: 0px 0px 40px 0px;
}

.services-container-grid {
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 30px;
	padding-bottom: 50px;
}

.grid-child {
	border: 2px solid #23242a;
	text-align: left;
	padding: 20px;
	border-radius: 8px;
	transition: 0.75s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#sect2 .grid-child p {
	padding: 0px;
}

.grid-child h3 {
	display: flex;
	justify-content: space-between;
}

.grid-child h3 > * {
	margin-right: 20px;
}

.grid-child:hover {
	box-shadow: 10px 10px;
}

.hosting {
	transition-delay: 100ms;
}

.database {
	transition-delay: 300ms;
}

.network {
	transition-delay: 500ms;
}

.dataana {
	transition-delay: 700ms;
}

.collaborator {
	transition-delay: 900ms;
}
/** END Section 2 styles */

/* -------------------------------------------------------------------------------------------------------- */

/** START Section 3 styles */
#sect3 {
	width: 100%;
	height: auto;
	background-color: #23242a;
	color: #fff;
}

#sect3 h2 {
	padding: 30px 0px 0px 0px;
	font-size: 2.5rem;
	margin-left: 20px;
}

#sect3 > p:nth-child(2) {
	margin-left: 30px;
}

.partners-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	width: 80%;
	margin: 20px auto 0px auto;
	overflow-y: hidden;
}

.partner-child {
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	border: 3px dotted gray;
	margin: 10px;
	transition: 0.75s all;
}

.partner-child > img {
	max-height: 45px;
	width: 100%;
}

.partner-child p {
	margin-top: 15px;
	border-top: 2px solid gray;
	padding: 10px;
	font-size: 1.125rem;
}

.partner-child p > a {
	color: lightblue;
	text-decoration: underline;
}

.partner-child:hover {
	transform: scale(1.05);
	background-color: #1c1c1c;
}

#sect3 > p:nth-child(4) {
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

.partnerproducts {
	width: 85%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-top: 5px;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.partnerproducts a > img {
	height: 40px;
}
/** END Section 3 styles */

/* -------------------------------------------------------------------------------------------------------- */

/** START Section 4 styles */
/*todo Section 4: Unamed */
#sect4 {
	width: 100%;
	height: auto;
}
/** END Section 4 styles */

/* -------------------------------------------------------------------------------------------------------- */

/** START Media Queries */
@media (min-width: 320px) {
	.services-container-grid {
		grid-template-columns: 1fr;
	}
	.partners-grid {
		margin: 20px auto 50px auto;
	}
}

@media (min-width: 560px) {
	.services-container-grid,
	.partners-grid {
		grid-template-columns: 1fr 1fr;
	}
	.partners-grid {
		margin: 20px auto 50px auto;
	}
}

@media (min-width: 830px) {
	.services-container-grid,
	.partners-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.partners-grid {
		margin: 80px auto 130px auto;
	}
}

@media (max-width: 765px) {
	.headingtxt {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.headingtxt button {
		margin-right: 0px;
		margin-left: 20px;
	}
}

@media (max-width: 690px) {
	.upperbar .desktopnavbar {
		display: none;
	}
	.open {
		display: block;
	}
	.close {
		display: none;
	}
}
/** END Media Queries */
