@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #000;
  min-width: 100vw;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Section 1 styles*/
#header {
  width: 100%;
  height: 685px;
  /* position: absolute; */
}

.upperbar {
  width: 100%;
  padding: 25px 50px 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

#gimg {
  aspect-ratio: 1 / 1;
  max-height: 50px;
  border-radius: 50%;
}

.upperbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.upperbar nav > a {
  color: #fff;
  padding: 15px;
}

.upperbar p {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(28, 28, 28, 0.7);
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .upperbar nav {
    -webkit-backdrop-filter: blur(510px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .upperbar nav > a {
    color: #000;
  }
  .upperbar p {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
  }
}

#navbtn {
  font-size: 1.5rem;
  display: none;
}

#sect1 {
  position: absolute;
}

#sect1 img {
  width: 100vw;
  height: 685px;
}

.headingtxt {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 685px;
}

.headingtxt h1 {
  position: absolute;
  top: 300px;
  left: 20px;
  color: #fff;
  max-width: 40%;
}

.headingtxt button {
  color: #000;
  background-color: #fff;
  outline: none;
  font-size: 1rem;
  border: none;
  padding: 10px 35px 10px 35px;
  border-radius: 8px;
  position: absolute;
  top: 315px;
  right: 25px;
}

.headingtxt button:active {
  opacity: 0.7;
}

.barafter {
  padding: 10px;
  background-color: #1c1c1c;
}

.barafter nav {
  background-color: transparent;
}

.barafter nav > a {
  padding: 0px;
  color: #fff;
}

.barafter p {
  background-color: transparent;
  padding: 0px;
  color: #fff;
}

.barafter p #gimg {
  max-height: 20px;
}

/* Section 1 styles*/

/* Section 2 styles */
#sect2 {
  width: 100%;
  height: auto;
  text-align: center;
}

#sect2 h2 {
  padding: 40px 0px 0px 0px;
  font-size: 2.5rem;
  color: #23242a;
}

#sect2 p {
  padding: 0px 0px 40px 0px;
}

.services-container-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto auto;
  padding: 30px;
}

.grid-child {
  border: 2px solid #23242a;
  text-align: left;
  padding: 20px;
  border-radius: 8px;
}

.grid-child:hover {
  animation: hovgrid 0.3s ease-in-out forwards;
}

@keyframes hovgrid {
  from {
    box-shadow: 0px 0px;
  }
  to {
    box-shadow: 10px 10px;
  }
}

/* Section 2 styles */
